OPENAI_API_KEY=sk-proj-placeholder-replace-with-your-real-key
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
CHROMA_PERSIST_PATH=./chroma_data
CHROMA_COLLECTION=notes_docs
APP_TITLE=Chroma Vector API
APP_DEBUG=true
