OPENAI_API_KEY=sk-proj-placeholder-replace-with-your-real-key
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_INDEX_NAME=notes-docs
PINECONE_NAMESPACE=notes-docs
APP_TITLE=Pinecone Vector API
APP_DEBUG=true
EMBEDDING_DIMENSIONS=1536
